[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
json-minify = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
build = "python build.py"
