{% extends "base.html" %}

{% block content %}
    <h1>Zuse cheat sheet</h1>
    <p>This page provides quick reference to all of the Zuse functions, group by their major functionality:</p>
    {% for group_set in groups %}
        <div class="group-set-{{ 'left' if loop.index == 1 else 'right' }}">
        {% for group in group_set %}
            <h2>{{ group.label }}</h2>
            <table>
                {% for function in group.functions %}
                    <tr>
                        <td>
                            <a href="functions/{{ function.name }}">
                                <code>{{ function.name }}</code>
                            </a>
                        </td>
                        <td>{{ function.description }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock %}