{% extends "base.html" %}

{% block content %}
<h1 class="text-5xl leading-none font-extrabold text-gray-200 tracking-tight mb-4">Welcome to the Zuse Docs!</h1><br>
<p class="text-gray-500 text-2xl tracking-tight mb-10">The one stop spot for all Zuse information.</p>
{% endblock %}